aiohttp==3.7.4.post0
APScheduler==3.6.3
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.7
decorator==5.0.9
distlib==0.3.2
Django==3.2.5
filelock==3.0.12
idna==2.10
ipython==7.25.0
ipython-genutils==0.2.0
jedi==0.18.0
matplotlib-inline==0.1.2
multidict==5.1.0
numpy==1.20.3
opencv-python==4.5.2.54
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
platformdirs==2.2.0
prompt-toolkit==3.0.19
ptb==0.0.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.0.2
pyOpenSSL==20.0.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
python-dotenv==0.17.1
python-telegram-bot==13.6
pytz==2021.1
requests==2.25.1
rosreestr2coord==4.0.11
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.1
TelegramApiClient==0.72
TelegramBot-API==0.0.1
TelegramBotAPI==0.3.2
TelegramBotInterface==4.1
Telegrambotmaker==0.0.1
TelegramDisk==0.1
TelegraMenu==0.0.1
TelegramLogs==0.0.5
telepot==12.6
tornado==6.1
traitlets==5.0.5
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.5
virtualenv==20.7.0
wcwidth==0.2.5
yarl==1.6.3
